/*
 * Copyright (c) 2023 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

// Layers
#define ML    0       // Main
#define LL    1       // Lower
#define RL    2       // Raise
#define TL    3       // Tri

// Short versions
#define BT0         BT_SEL 0
#define BT1         BT_SEL 1
#define BT2         BT_SEL 2
#define BT3         BT_SEL 3
#define BT4         BT_SEL 4

#define BOOTLDR     &bootloader

#define VUP   C_VOL_UP
#define VDN   C_VOL_DN
#define PP    C_PP

#define RGBTOG  &rgb_ug RGB_TOG
#define RGBHUI  &rgb_ug RGB_HUI
#define RGBHUD  &rgb_ug RGB_HUD
#define RGBSAI  &rgb_ug RGB_SAI
#define RGBSAD  &rgb_ug RGB_SAD
#define RGBBRI  &rgb_ug RGB_BRI
#define RGBBRD  &rgb_ug RGB_BRD
#define RGBEFF  &rgb_ug RGB_EFF
#define RGBEFR  &rgb_ug RGB_EFR
#define RGBCUS  &rgb_ug RGB_COLOR_HSB(275, 100, 51)


// Thumb row macros
#define LTR(k33) &sht LALT k33
#define RTR(k38) &sht RALT k38

/*
 * Assign the cs-gpios pin to 4.
 * Uncomment these next few lines if implementing nice!view Displays
 */
nice_view_spi: &spi0 {
//    compatible = "nordic,nrf-spim";
//    pinctrl-0 = <&spi0_default>;
//    pinctrl-1 = <&spi0_sleep>;
//    pinctrl-names = "default", "sleep";
    cs-gpios = <&pro_micro 4 GPIO_ACTIVE_HIGH>;
};


/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LL RL>;
            then-layer = <TL>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_tab {
            timeout-ms = <50>;
            require-prior-idle-ms = <110>;
            key-positions = <0 1>;
            //layers = <ML>;
            bindings = <&kp TAB>;
        };
        
        combo_grave {
            timeout-ms = <50>;
            require-prior-idle-ms = <110>;
            key-positions = <20 21>;
            layers = <ML>;
            bindings = <&kp GRAVE>;
        };
        
        combo_sqt {
            timeout-ms = <50>;
            key-positions = <31 30>;
            layers = <ML>;
            bindings = <&kp SQT>;
        };
    };

    macros {
        emDSH_W: em_Dash {
            label = "emDSH_W";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <20>;
            bindings
                = <&macro_press   &kp LALT>
                , <&macro_tap     &kp KP_N0 &kp KP_N1 &kp KP_N5 &kp KP_N1>
                , <&macro_release &kp LALT>
                ;
        };
    };

    behaviors {
        sht: sticky_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "Sticky_Hold_Tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            quick-tap-ms = <180>;
            require-prior-idle-ms = <135>;
            bindings = <&sk>, <&kp>;
        };
        
        td_lshft: tab_dance_left_shift {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPS_LOCK";
            #binding-cells = <0>;
            tapping-term-ms = <190>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };
        
        td_ll: tab_dance_lower_layer {
            compatible = "zmk,behavior-tap-dance";
            label = "LOWER_LAYER";
            #binding-cells = <0>;
            tapping-term-ms = <190>;
            bindings = <&mo LL>, <&sl LL>;
        };
        
        td_rl: tab_dance_raise_layer {
            compatible = "zmk,behavior-tap-dance";
            label = "RAISE_LAYER";
            #binding-cells = <0>;
            tapping-term-ms = <190>;
            bindings = <&mo RL>, <&sl RL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
//layer 0 (ML)
        base_layer {
            label = " Pop!_OS";
            bindings = <
//╭──────────┬──────────┬──────────┬───────────┬───────────╮                           ╭───────────┬───────────┬──────────┬──────────┬──────────╮
//│   Q      │   W      │   E      │   R       │   T       │                           │   Y       │   U       │   I      │   O      │   P      │
  &kp Q      &kp W      &kp E      &kp R       &kp T                                   &kp Y       &kp U       &kp I      &kp O      &kp P
//├──────────┼──────────┼──────────┼───────────┼───────────┤                           ├───────────┼───────────┼──────────┼──────────┼──────────┤
//│   A      │   S      │   D      │   F       │   G       │                           │   H       │   J       │   K      │   L      │ ; :      │
  &kp A      &kp S      &kp D      &kp F       &kp G                                   &kp H       &kp J       &kp K      &kp L      &kp SEMI
//├──────────┼──────────┼──────────┼───────────┼───────────┼───────────╮   ╭───────────┼───────────┼───────────┼──────────┼──────────┼──────────┤
//│   Z      │   X      │   C      │   V       │   B       │           |   |           │   N       │   M       │ , <      │ . >      │ / ?      │
  &kp Z      &kp X      &kp C      &kp V       &kp B       &kp LGUI        &kp DEL     &kp N       &kp M       &kp COMMA  &kp DOT    &kp FSLH
//╰──────────┴──────────┼──────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼──────────┼──────────┴──────────╯
                        &sk LCTRL  &td_ll      &td_lshft   LTR(ESC)        RTR(RET)    &kp SPACE   &td_rl      &sk RCTRL
//                      ╰──────────┴───────────┴───────────┴───────────╯   ╰───────────┴───────────┴───────────┴──────────╯
          >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp DOWN UP>;
        };
//layer 1 (LL)
        lower_layer {
            label = " Lower";
            bindings = <
//╭──────────┬──────────┬──────────┬───────────┬──────────╮                         ╭──────────┬───────────┬──────────┬──────────┬──────────╮
//│   F9     |   F10    |   F11    |   F12     |          │                         │   HOME   │  PG DOWN  │   PG UP  │   END    │   BSPC   │
  &kp F9     &kp F10    &kp F11    &kp F12     &kp VUP                              &kp HOME   &kp PG_DN   &kp PG_UP  &kp END    &kp BSPC
//├──────────┼──────────┼──────────┼───────────┼──────────┤                         ├──────────┼───────────┼──────────┼──────────┼──────────┤
//│   F5     │   F6     │   F7     │   F8      │          │                         │  <-      │  ⬇        │  ⬆       │   ->     │   PSCRN  │
  &kp F5     &kp F6     &kp F7     &kp F8      &kp PP                               &kp LEFT   &kp DOWN    &kp UP     &kp RIGHT  &kp PSCRN
//├──────────┼──────────┼──────────┼───────────┼──────────┼──────────╮   ╭──────────┼──────────┼───────────┼──────────┼──────────┼──────────┤
//│   F1     │   F2     │   F3     │   F4      │          │          |   |          │          │           │          │          │          │
  &kp F1     &kp F2     &kp F3     &kp F4      &kp VDN    &trans         &trans     &kp C_PREV &kp C_STOP  &kp C_PLAY &kp C_NEXT &trans
//╰──────────┴──────────┼──────────┼───────────┼──────────┼──────────┤   ├──────────┼──────────┼───────────┼──────────┼──────────┴──────────╯
                        &trans     &trans      &trans     &trans         &trans     &trans     &trans      &trans
//                      ╰──────────┴───────────┴──────────┴──────────╯   ╰──────────┴──────────┴───────────┴──────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp RIGHT LEFT>;
        };
//layer 2 (RL)
        raise_layer {
            label = " Raise";
            bindings = <
//╭──────────┬──────────┬──────────┬───────────┬──────────╮                         ╭──────────┬───────────┬──────────┬──────────┬──────────╮
//│          │   LBKT   │   LBRC   │   LPAR    │   _      │                         │   +      │   RPAR    │   RBRC   │   RBKT   │   BSPC   │
  &trans     &kp LBKT   &kp LBRC   &kp LPAR    &kp UNDER                            &kp PLUS   &kp RPAR    &kp RBRC   &kp RBKT   &kp BSPC
//├──────────┼──────────┼──────────┼───────────┼──────────┤                         ├──────────┼───────────┼──────────┼──────────┼──────────┤
//│ 1 !      │ 2 @      │ 3 #      │ 4 $       │ 5 %      │                         │ 6 ^      │ 7 &       │ 8 *      │ 9 LPAR   │ 0 RPAR   │
  &kp N1     &kp N2     &kp N3     &kp N4      &kp N5                               &kp N6     &kp N7      &kp N8     &kp N9     &kp N0
//├──────────┼──────────┼──────────┼───────────┼──────────┼──────────╮   ╭──────────┼──────────┼───────────┼──────────┼──────────┼──────────┤
//│          │   LCTRL  │   LALT   │   LSHFT   │  - _     │          |   |          │  = +     │   RSHFT   │   RALT   │   SQT    │  \ |     │
  &kp GRAVE  &sk LCTRL  &sk LALT   &sk LSHFT   &kp MINUS  &trans         &trans     &kp EQUAL  &sk RSHFT   &sk RALT   &kp SQT    &kp BSLH
//╰──────────┴──────────┼──────────┼───────────┼──────────┼──────────┤   ├──────────┼──────────┼───────────┼──────────┼──────────┴──────────╯
                        &trans     &trans      &trans     &trans         &trans     &trans     &trans      &trans
//                      ╰──────────┴───────────┴──────────┴──────────╯   ╰──────────┴──────────┴───────────┴──────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
        };
//layer 3 (TL)
        tri_layer {
            label = " Tri";
            bindings = <
//╭──────────┬──────────┬──────────┬───────────┬──────────╮                         ╭──────────┬───────────┬──────────┬──────────┬──────────╮
//│          |          |          |           |          │                         │          │           │          │          │          │
  &bt BT0    &bt BT1    &bt BT2    &bt BT3     &bt BT4                              &trans     &trans      &trans     &trans     BOOTLDR
//├──────────┼──────────┼──────────┼───────────┼──────────┤                         ├──────────┼───────────┼──────────┼──────────┼──────────┤
//│          │   LCTRL  │   LALT   │   LSHFT   │          │                         │   BRI    │    SAI    │   HUI    │   EFF    │  RGBTOG  │
  &trans     &sk LCTRL  &sk LALT   &sk LSHFT   &trans                               RGBBRI     RGBSAI      RGBHUI     RGBEFF     RGBTOG
//├──────────┼──────────┼──────────┼───────────┼──────────┼──────────╮   ╭──────────┼──────────┼───────────┼──────────┼──────────┼──────────┤
//│  BT CLR  │          │          │           │          │          |   |          │   BRD    │    SAD    │   HUD    │   EFR    │          │
  &bt BT_CLR &sys_reset &trans     &trans      &trans     &trans         &trans     RGBBRD     RGBSAD      RGBHUD     RGBEFR     RGBCUS
//╰──────────┴──────────┼──────────┼───────────┼──────────┼──────────┤   ├──────────┼──────────┼───────────┼──────────┼──────────┴──────────╯
                        &trans     &trans      &trans     &trans         &trans     &trans     &trans      &trans
//                      ╰──────────┴───────────┴──────────┴──────────╯   ╰──────────┴──────────┴───────────┴──────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_DN PG_UP>;
        };
    };
};
